<div class="vh-100 mx-auto">
    <h1 class="text-center display-3">David's blog</h1>

    <h2 class="display-5 text-center pt-5">About me</h2>
    <p class="text-center">Hi, my name is David Kocman and this is my blog.</p>

    <h2 class="display-5 text-center pt-3">Skills</h2>

    <p class="text-center">C/C++, Python, Java, Ruby, JS, HTML/CSS</p>

    <h2 class="display-5 text-center pt-3">Links</h2>

    <div class="d-flex flex-row justify-content-center mx-auto pt-3">
        <div class="p-2 text-center mh-50">
            <h3>Git Repo</h3>
            <a href="https://github.com/" class="link-dark">Link</a>
        </div>
        <div class="p-2 text-center">
            <h3>Instagram</h3>
            <a href="https://www.instagram.com/ishowspeed/?hl=cs" class="link-dark">Link</a>
        </div>
        <div class="p-2 text-center">
            <h3>Facebook</h3>
            <a href="https://www.facebook.com/zuck/?locale=cs_CZ", class="link-dark">Link</a>
        </div>
    </div>
</div>